# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

import(boot)
import(mvtnorm)
import(MASS) 
import(sfsmisc) 
importFrom("nFactors", corFA, parallel) 
importFrom("psych", fa, polychoric)


